html {
    font-size: 100%;
    font-family: 'Times New Roman', Garamond, serif;
}

body {
    display: flex;
    flex-direction: column;
    wrap: wrap;
    height: 100vh;
    gap: 10vh;
}

.header {
    flex: auto;
    height: 15vh;
    margin-top: 5vh;
    margin-left: 30vw;
    margin-right: 20vw;
    overflow-wrap: break-word;
}

.calc {
    font-size: 2em;
}

.calculate {
    font-size: 6em;
    font-family: Helvetica, sans-serif;
    color: red;
}

.display-field {
    width: 40vw;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    overflow-wrap: break-word;
    color: #20C20E;
    background-color: black;
}

.input {
    display: flex;
    gap: 10vw;
    font-size: 4em;
}

.numbers {
    margin-left: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    row-gap: 0.5em;
}

.numbers div {
    text-align: center;
}

.operators {
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}

.operators .med {
    font-weight: 100;
}

.operators .heavy {
    font-weight: 900;
}

.footer {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: small;
    margin-top: auto;
    text-align: center;
}